@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', Roboto;
}


.header {
    display: flex;
    background-color: #1f2937;
    width: 100%;
    justify-content: center;
    align-items: center;
    padding-bottom: 125px;
    padding-top: 15px;
    gap: 85px;
}

.header .left {
    display: flex;
    flex-direction: column;
    color: white;
    
}

.header .left .sub {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 400px;
}

.header .left .sub p {
    width: 450px;
    font-size: 18px;
    color: #e5e7eb;
}

.header .left .sub button {
    background-color: #3b82f6;
    color: white;

    font-size: 15px; 
    font-weight: 700px;

    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    height: 30px;
    width: 110;
    display: flex;
    justify-content: center;
    align-items: center;
}   

.header .left .sub h1 {
    font-size: 48px;
    font-weight: 900px;
    margin-bottom: -15px;
}

.header .right {
    display: flex;
    flex-direction: column;
    gap: 80px;
    align-items: flex-end;
}


.header .right img {
    width: 450px;
    height: 225px;
}


.header .right .links a {
    text-decoration: none;
    color: #e5e7eb;
    font-size: 18px;
    
}

.header .right .links {
    display: flex;
    justify-content: space-around;
    gap:20px
}