@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');



body {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    font-family: 'Roboto', Roboto;
}


.header {
    display: flex;
    background-color: #1f2937;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 125px;
    gap: 85px;
}

.header .cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    width: 1000px;
    height: 375px;

}

.header .cont .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header .cont .top h2 {
    color: #f9faf8;
    font-size: 24px;
}

.header .cont .top .links {
    display: flex;
    gap: 20px;
}

.header .cont .top .links a {
    font-size: 18px;
    color: #E5E7EB;
    list-style: none;
    text-decoration: none;
}




.header .cont .bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;

}

.header .cont .bottom img {
    width: 1000px;
    height: 200px;
    background-color: #1f2937;
}

.header .cont .bottom .text {
    display: flex;
    flex-direction: column;
    flex: 1;
    
}
.header .cont .bottom .text p {
    width: 450px;
    color: #e5e7eb;
    font-size: 18px;
}

.header .cont .bottom .text h1 {
    font-size: 48px;
    color: #f9faf8;
    font-weight: 900s;
    width: 350px;
    margin-bottom: -15px;
}

.header .cont .bottom .text button {
    width: 120px;
    height: 35px;
    border: none;
    border-radius: 7px;
    color: #f9faf8;
    background-color: #3882f6;
    font-size: 15px;
    font-weight: 700;
}
